body {
    margin: 0;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  li {
    margin: 0;
    padding: 0;
  }
  
  a {
    color: inherit;
  }
  
  button,
  input {
    color: currentColor;
    font-family: inherit;
    font-size: inherit;
  }
  
  ul,
  ol {
    list-style: none;
  }

  .page {
    background-color: rgb(127 199 255 / 0.05);
  }

  .header {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

.header__title-block {
    background-color: #d68da890;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-family: 'Liberation Serif', serif;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 100%;
}

.header__cards-block {
    display: flex;
    gap: 5px;
}  

.header__card {
    flex-grow: 1;
    background-color: #a0afd65b;
    box-sizing: border-box;
    padding-block: 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    border: 1.5px solid #a0afd6c6;
    border-radius: 10px;
}

.card__title {
    font-family: 'Liberation Serif', serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.info {
    font-family: 'Liberation Serif', serif;
    font-size: 20px;
    font-weight: 700;
}

.card__text {
    font-family: 'Liberation Serif', serif;
    font-size: 16px;
    font-weight: 400;
}