body {
    margin: 0;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  li {
    margin: 0;
    padding: 0;
  }
  
  a {
    color: inherit;
  }
  
  button,
  input {
    color: currentColor;
    font-family: inherit;
    font-size: inherit;
  }
  
  ul,
  ol {
    list-style: none;
  }

  .page {
    background-color: rgb(127 199 255 / 0.05);
  }

  .header {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

.header__top {
    display: flex;
    gap: 15px;
}  

.header__title-block {
    background-color: rgb(127 199 255 / 0.5);
    box-sizing: border-box;
    padding: 10px;
    width: 75%;
    align-self: center;
}

.title {
    font-family: serif;
    font-size: 64px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 100%;
}

.header__form-block {
    width: 24%;
    display: flex;
    justify-content: flex-start;
    align-content: flex-end;
    gap: 30px;
    padding-left: 30px;
    align-self: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.form__label {
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 100%;
}

.form__input {
    width: 300px;
    padding: 15px;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 100%;
    border-radius: 8px;
    background-color: #fff8dc;
}

.button {
    height: 78px;
    padding: 15px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 100%;
    border-radius: 8px;
    background-color: #fff8dc;
    border: 1px solid transparent;
    align-self: flex-end;
}

.header__card {
    flex-grow: 1;
    background-color: rgb(127 199 255 / 0.5);
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.card__title {
    font-family: serif;
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
}

.info {
    font-family: serif;
    font-size: 36px;
    font-weight: 700;
}

.card__text {
    font-family: serif;
    font-size: 36px;
    font-weight: 400;
}